<aside id="sidebar" class="absolute top-0 left-0 w-1/2 h-screen text-center sm:static sm:w-40 py-4 text-lg bg-primaria origin-top-left">
    <ul class="items-center text-terciaria w-full">
        <a routerLink="/listarPessoa" [routerLinkActive]="['text-secundaria']" class="block px-3 py-3 hover:text-secundaria hover:bg-hover-preto">PESSOA</a>
        <a routerLink="/listarTreino" [routerLinkActive]="['text-secundaria']" class="block px-3 py-3 hover:text-secundaria hover:bg-hover-preto">TREINO</a>
        <a class="block px-3 py-3 hover:text-secundaria hover:bg-hover-preto">AVALIAÇÃO</a>
    </ul>
</aside>